.formInput {
  max-width: 100%;
  display: block;
  border-radius: 0.6rem;
  height: 6rem;
  border: 1px solid #333;
  padding: 2rem 3rem;
  font-size: 1.6rem;
  grid-row: auto;
}

.formInput-full {
  grid-column: span 2;
}

.formInput-half {
  grid-column: span 1;
}
